<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>303866673717-rhu17f1mj2v7vrpsb5059flppm08114h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303866673717-rhu17f1mj2v7vrpsb5059flppm08114h</string>
	<key>API_KEY</key>
	<string>AIzaSyCmhTZvBYePgtxploJl8lAhxkcIBbarQb4</string>
	<key>GCM_SENDER_ID</key>
	<string>303866673717</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.zidniryi.TwitteriOSDemo</string>
	<key>PROJECT_ID</key>
	<string>myiosapps-7b24e</string>
	<key>STORAGE_BUCKET</key>
	<string>myiosapps-7b24e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303866673717:ios:a802da63ad7f0761</string>
	<key>DATABASE_URL</key>
	<string>https://myiosapps-7b24e.firebaseio.com</string>
</dict>
</plist>